<section class="hero is-medium has-bg-image">
    <div class="hero-body">
        <div class="container">
            <p class="title is-1 is-spaced has-text-white has-text-centered">
                Our Events
            </p>
        </div>
    </div>
</section>
<app-section>
    <app-container size="medium">
        <app-search-event-form></app-search-event-form>
    </app-container>
</app-section>
<app-section size="none">
    <app-container size="medium">
        <app-event-list [events]="(events$ | async) ?? []"></app-event-list>
    </app-container>
</app-section>