<section class="hero is-medium has-bg-image">
    <div class="hero-body">
        <div class="container">
            <p class="title is-1 is-spaced has-text-white has-text-centered">
                Our Events
            </p>
        </div>
    </div>
</section>

<app-section>
    <app-container size="medium">
        <div class="field is-grouped">
            <p class="control has-icons-left is-expanded">
                <input class="input" placeholder="Search for events">
                <span class="icon is-small is-left">
                    <i class="fas fa-magnifying-glass"></i>
                </span>
            </p>
            <p class="control has-icons-left is-expanded">
                <input class="input" placeholder="In a location" />
                <span class="icon is-small is-left">
                    <i class="fas fa-location-dot"></i>
                </span>
            </p>
            <p>
                <a class="button is-primary">
                    Find Events
                </a>
            </p>
        </div>
    </app-container>
</app-section>