<section class="hero is-fullheight has-bg-image ">
    <div class="hero-body has-backdrop">
        <div class="is-full-width">
            <p class="title has-text-centered  has-text-white has-text-shadow">
                COMING SOON
            </p>
            <br>
            <p class="title is-1 has-text-centered has-text-white is-uppercase"></p>
            <p class="subtitle is-2 has-text-centered has-text-white">
                Global Surf Community Weekend Fundraiser
            </p>
            <div class="content is-large">
                <p class="has-text-centered has-text-white">
                    Friday 8th to Sunday 10th September 2023<br>
                    <span class="is-size-5">For</span><br>
                    <b>Maui Island Community Disaster Relief Efforts</b>
                </p>
            </div>
        </div>
    </div>
</section>