.is-full-width {
    width: 100%;
}

.has-bg-image {
    background: url("/assets/images/coming-soon.jpg") center center;
    background-size: cover;
}

.has-text-shadow {
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}