.has-bg-image {
    background: url("/assets/images/events-hero-alt.jpg") center center;
    background-size: cover;
}

.card.no-shadow {
    cursor: pointer;    
    &:not(:hover) {
        box-shadow: none;
    }
}

p + p {
    margin-top: .5rem;
}

.get-started {
    margin-top: 2rem;
    text-align: center;

    &>button {
        width: 100%;
    }
}

.has-text-shadow {
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}