<section class="hero is-medium has-bg-image">
    <div class="hero-body has-backdrop">
        <div class="container">
            <p class="title is-1 is-spaced has-text-white has-text-centered has-text-shadow">
                Get Involved
            </p>
            <div class="level pt-6">
                <div class="level-item">
                    <div class="buttons">
                        <button class="button is-uppercase is-light is-medium is-wide">Participate</button>
                        <a routerLink="organize" class="button is-link is-uppercase is-medium is-wide">Organize</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-section>
    <app-container size="medium">
        <div class="columns">
            <div class="column">
                <a routerLink="organize">
                    <div class="card no-shadow">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img [src]="'assets/images/submit-event-card.jpg'">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-6">Submit a Community Event</p>
                            <p class="text">Create, sponsor, join, attend &/or participate in a community led
                                fundraising event.
                            </p>
                            <p class="text">Join your local surf & wellness community event in person or online.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <div class="card no-shadow">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="assets/images/pass-along-card.jpg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-6">Pledge a Moment & Pass it Forward</p>
                        <p class="text">
                            Make plans to meet up with friends or catch up with family online or in person anytime over
                            the weekend to Pledge a Moment & Pass it Forward
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card no-shadow">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="assets/images/dress-up-card.jpg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-6">Beach Life is Best! Dress up & Donate</p>
                        <p class="text">
                            Enjoy Freestyle Friday & Beach Vibes all weekend!
                        </p>
                        <p class="text">
                            Come to work, school, college or club meet-up this weekend dressed up Hawaiian Island style
                            & feel tropical pacific island vibes all weekend!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </app-container>
</app-section>
<app-section size="none">
    <app-container size="medium">
        <app-search-event-form></app-search-event-form>
    </app-container>
</app-section>
<app-section>
    <app-container size="medium">
        <app-event-list [events]="(events$ | async) ?? []"></app-event-list>
    </app-container>
</app-section>