<section class="hero is-medium">
    <div class="hero-body">
        <p class="title has-text-centered">Donate</p>
    </div>
</section>

<app-section>
    <app-container size="medium">
        <p class="content is-medium">Event organisers & event participants can use the links below to make their donations directly to the
            non-profits and community
            relief efforts that are providing disaster relief, support and funding to those communities on Maui that are
            directly impacted by the wild fires.</p>

        <blockquote class="content">
            <p class="title">
                A &#699;ohe hana nui ke alu &#699;ia.<br>
                No task is too big when done together by all.
            </p>
            <p class="subtitle">&#699;Ōlelo No&#699;eau 14</p>
        </blockquote>

        <p class="content is-medium">The funds donated to these local Maui organisations are being used to support the
            Maui community to provide
            immediate rapid response &amp; recovery. Going forward, these non-profits will play a crucial role in
            supporting our Maui Ohana in rebuilding their homes, their businesses, their jobs, their livelihoods &amp;
            their communities.
        </p>
    </app-container>
</app-section>
<app-section>
    <app-container size="medium">
        <div class="level">
            <div class="column">
                <app-charity-card charityUrl="https://www.hawaiicommunityfoundation.org/maui-strong"
                    imageUrl="assets/images/charities/HCF-Logo-Centered-2Lines-NoTag-RGB.jpg" title="Maui Strong"
                    description="Focusing on rapid response &amp; working with local non-profits to understand community needs.">
                    ></app-charity-card>
            </div>
            <div class="column">
                <app-charity-card charityUrl="https://mauifoodbank.org/"
                    imageUrl="assets/images/charities/MFB-Final-Logo_Horiz-whiteapple-sm.png" title="Maui Foodbank"
                    description="Maui Food Bank's mission is to help the hungry in Maui County by collecting and distributing food through community partnerships.">
                </app-charity-card>
            </div>
            <div class="column">
                <app-charity-card charityUrl="http://mauirapidresponse.org/maui-wildfire/donations/"
                    imageUrl="assets/images/charities/MRR_Maui_Rapid_Response.jpg" title="Maui Rapid Response"
                    description="Maui Mutual Aid Fund distributes funds directly to Maui residents affected by the fires.">
                </app-charity-card>
            </div>
        </div>
    </app-container>
    <app-container>
        <div class="level">
            <div class="column">
                <app-charity-card charityUrl="https://www.mauihumanesociety.org/"
                    imageUrl="assets/images/charities/MHS-Logo.png" title="Maui Humane Society"
                    description="Supporting shelters for displaced people & animals and caring for injured animals.">
                </app-charity-card>
            </div>
            <div class="column">
                <app-charity-card charityUrl="https://mauiunitedway.org/disasterrelief"
                    imageUrl="assets/images/charities/Maui_United_Way.png" title="Maui United Way"
                    description="Providing direct relief to families and non-profits. Responding to immediate needs via daily grant approvals to existing grassroots organizations that are local and focused on basic needs.">
                </app-charity-card>
            </div>
            <div class="column">
                <app-charity-card charityUrl="https://www.mauihub.org/donate"
                    imageUrl="assets/images/charities/Maui_Hub_Green.png" title="Maui Hub"
                    description="Maui Hub is supporting farmers & families affected by the fires. They buy local farmers produce to feed families affected by the fires.">
                </app-charity-card>
            </div>
            <div class="column">
                <app-charity-card charityUrl="https://www.kaainamomona.org/maui"
                    imageUrl="assets/images/charities/aina-momona.png" title="&#699;Āina Momona"
                    description="&#699;Āina Momona is one of many organizations mobilizing to provide support to the families impacted by the devastating wildfires that occurred on August 8, 2023.">
                </app-charity-card>
            </div>
        </div>


    </app-container>
</app-section>