<app-section>
    <app-container>
        <div class="columns events-container is-reversed-mobile">
            <div class="column event-list">
                <app-event-list [events]="(events$ | async) ?? []" [link]="['/events']" [selectedEvent]="selectedEvent"></app-event-list>
            </div>
            <div class="column is-two-fifths map-container">
                <app-map [events]="(events$ | async) ?? []" (eventSelected)="eventSelected($event)"></app-map>
            </div>
        </div>
    </app-container>
</app-section>