<app-section>
    <app-container size="tiny">
        <div class="title">Create an account</div>
        <div class="subtitle">This way, you can easily add and see all your events</div>
    </app-container>
</app-section>
<app-section>
    <app-container size="tiny">
        <form (submit)="signUp()" [formGroup]="signUpForm">

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input formControlName="email" class="input" type="email" placeholder="Email" [(ngModel)]="email">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input formControlName="password" class="input" type="password" placeholder="Password"
                        [(ngModel)]="password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary" [disabled]="loading">Create an account</button>
                </div>
            </div>

            <p>
                Alredy have an account? <a routerLink="/sign-in">Sign in here</a>
            </p>
        </form>

        <div *ngIf="loading">
            <p class="content has-text-centered mt-5">
                Please wait while we are signing you up... <i class="fa-solid fa-circle-notch fa-spin"></i>
            </p>
        </div>
    </app-container>
</app-section>