<app-section>
    <app-container size="medium">
        <div class="level" *ngIf="showStatus">
            <p>
                Status: <span class="tag is-medium" [ngClass]="statusClass"> {{ status }}</span>
            </p>
        </div>
        <p class="title">{{ event.title }}</p>
        <p class="subtitle">{{event.startsAt | date:'EEEE, MMMM d'}}</p>
    </app-container>
</app-section>

<app-section>
    <div class="container">
        <div class="image event-cover-photo">
            <img [src]="event.assets?.coverPhoto" alt="{{ event.title }}">
        </div>
    </div>
</app-section>

<app-section>
    <app-container size="medium">
        <p class="text">
            {{ event.description }}
        </p>
    </app-container>
</app-section>

<app-section>
    <app-container size="medium">
        <p class="tag is-primary is-medium">
            Recommended donation ${{ event.price }}
        </p>
    </app-container>
</app-section>

<app-section>
    <app-container size="medium">
        <div class="columns">
            <div class="column">
                <p class="title is-5">Location</p>
                <p class="subtitle" *ngIf="event.place!.placeName">{{ event.place!.placeName }}</p>
                <p class="text">
                    {{ event.place!.address }}<br>
                    {{ event.place!.locality }},
                    {{ event.place!.region }}<br>
                    {{ event.place!.country }} {{ event.place!.postcode }}
                </p>
            </div>
            <div class="column">
                <p class="title is-5">Date & Time</p>
                <p class="text">{{ event.startsAt | date:'medium' }}</p>
                <p class="text">{{ event.endsAt | date:'medium' }}</p>
            </div>
        </div>
    </app-container>
</app-section>