<app-section>
    <app-container size="medium">
        <div class="level" *ngIf="showStatus">
            <p>
                Status: <span class="tag is-medium" [ngClass]="statusClass"> {{ status }}</span>
            </p>
        </div>
        <p class="title">{{ event.title }}
            <button class="button is-info" (click)="onEdit()" *ngIf="canEdit">Edit Event</button>
        </p>
        <p class="subtitle">{{event.startsAt | date:'EEEE, MMMM d'}}</p>
    </app-container>
</app-section>

<app-section>
    <div class="container">
        <div class="image event-cover-photo">
            <img [src]="event.assets?.coverPhoto" alt="{{ event.title }}">
        </div>
    </div>
</app-section>

<app-section>
    <app-container size="medium">
        <p class="title">About the event</p>
        <p class="content description-content" [innerHTML]="event.description" *ngIf="event.description">
        </p>
    </app-container>
</app-section>

<app-section *ngIf="event.price">
    <app-container size="medium">
        <p class="title">Donation</p>
        <div class="notification is-info">
            Suggested donation for this event is {{ event.currency }} {{ event.price | number:'.0-2' }}. Please visit
            our <a target="_blank" routerLink="/donate">Donate page</a> or contact event organiser for how to
            register and donate for this event.
        </div>
        <p class="content is-medium">Recommended donation <b>{{ curencySymbol }}{{ event.price | number:'.0-2' }}</b>
        </p>
    </app-container>
</app-section>

<app-section>
    <app-container size="medium">
        <div class="columns">
            <div class="column" *ngIf="event.place">
                <p class="title is-5">Location</p>
                <p class="subtitle" *ngIf="event.place!.placeName">{{ event.place!.placeName }}</p>
                <p class="text">
                    {{ event.place!.address }}<br>
                    {{ event.place!.locality }},
                    {{ event.place!.region }}<br>
                    {{ countryName }} {{ event.place!.postcode }}
                </p>
            </div>
            <div class="column">
                <p class="title is-5">Date & Time</p>
                <p class="text">{{ event.startsAt | date:'long' }}</p>
                <p class="text">{{ event.endsAt | date:'long' }}</p>
            </div>
        </div>
    </app-container>
</app-section>

<app-section *ngIf="event.onlineDetails">
    <app-container size="medium">
        <p class="title is-5">Online Event Details</p>
        <p class="content">
            {{ event.onlineDetails }}
        </p>
    </app-container>
</app-section>

<app-section>
    <app-container size="medium">
        <p class="title">
            Organizer Contacts
        </p>

        <div class="notification is-info">
            Please contact the organizer to confirm your participation in this event.
        </div>

        <div class="columns">
            <div class="column">
                <div class="block">
                    <p class="title is-5">Email</p>
                    <p class="subtitle">
                        <a [href]="'mailto:'+event.contacts?.contactEmail">{{ event.contacts?.contactEmail }}</a>
                    </p>
                </div>

                <div class="block" *ngIf="event.contacts?.contactPhone">
                    <p class="title is-5">Phone</p>
                    <p class="subtitle">
                        {{ event.contacts?.contactPhone }}
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="block" *ngIf="event.contacts?.website">
                    <p class="title is-5">Website</p>
                    <p class="subtitle pb-4">
                        <a target="_blank" [href]="event.contacts?.website">{{ event.contacts?.website }}</a>
                    </p>
                </div>
                <div class="block" *ngIf="event.contacts?.instagram || event.contacts?.facebook">
                    <p class="title is-5">Social</p>
                    <p class="subtitle">

                        <a target="_blank" *ngIf="event.contacts?.instagram" [href]="event.contacts?.instagram"><i
                                class="fa-brands fa-instagram has-gap"></i> {{
                            event.contacts?.instagram}}</a><br>
                        <a target="_blank" *ngIf="event.contacts?.facebook" [href]="event.contacts?.facebook"><i
                                class="fa-brands fa-facebook has-gap"></i> {{event.contacts?.facebook }}</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="block">

        </div>
        <div class="block">

        </div>


        <div class="columns">

            <div class="column">

            </div>
        </div>
    </app-container>
</app-section>