<section class="hero is-info ">
    <div class="hero-body">
        <p class="title has-text-centered">Submit Community Event</p>
    </div>
</section>

<app-section *ngIf="isLoggedIn; else logIn">
    <app-container size="narrow">
        <app-submit-event-form></app-submit-event-form>
    </app-container>
</app-section>

<ng-template #logIn>
    <app-section>
        <app-container size="narrow">
            <app-login [redirectUrl]="['/submit-event']"></app-login>
        </app-container>
    </app-section>
</ng-template>