@import "../../../../../node_modules/bulma/bulma.sass";

.is-small>img {
    max-height: 300px;
}

.idea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &__image {
        display: flex;
        align-items: center;
        max-width: 300px;
        max-height: 200px;
    }

    &__items {
        display: flex;
        align-items: center;
    }
}

.pledge {
    &+& {
        margin-top: 3rem;
    }
}

@media(max-width: $tablet) {
    .field.is-grouped {
        flex-wrap: wrap;
    }
}