<section class="hero">
    <div class="hero-body">
        <app-container size="medium">
            <p class="title">Pledge a Moment &amp; pass it forward</p>
            <p class="subtitle">In aid of the Maui Island Community-led Disaster Relief Efforts</p>
        </app-container>

    </div>
</section>

<app-section>
    <app-container size="medium">
        <p class="content">
            Are you making plans to meet up with friends or catch up with family <b>online</b> or <b>in person</b>
            anytime over the weekend 8th to 10th September 2023?
        </p>
        <p class="content is-medium">
            <b>Pledge a Moment</b> to send a <b>wave of aloha & support</b> to our Maui Island friends, family (Ohana),
            & community
            that has been devastated by the Maui wildfires on 08 August, 2023. <b>Pass it forward</b> to encourage your
            friends
            & family to join us on this <b>wave of aloha</b> as it makes its way across the oceans to Maui Island,
            Hawaii.
        </p>
        <p class="content">
            Come together to <a routerLink="/donate"><b>donate</b></a> directly to the Maui Community-led Disaster
            Relief efforts. We invite you to also Participate &/or support any of the weekend <a
                routerLink="/events"><b>community events</b></a>
        </p>
        <p class="title is-4">Pledge a Moment Ideas:</p>
        <p-carousel [value]="ideas" [numVisible]="1" [circular]="true" autoPlayInterval="1000">
            <ng-template let-item pTemplate="item">
                <div class="idea">
                    <div class="idea__image">
                        <figure class="image is-small">
                            <img [src]="item.image" [alt]="item.title">
                        </figure>
                    </div>
                    <div class="idea__items">
                        <ul>
                            <li *ngFor="let line of item.lines">{{line}}</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

        <p class="content">
            Register your participation and support to <b>Pledge a Moment &amp; Pass It Forward</b> Come together to
            have fun & <a routerLink="/donate"><b>donate</b></a> directly to the Maui Community-led Disaster Relief Efforts.
        </p>

        <p-accordion>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-button type="submit" label="Registration Form"></p-button>
                </ng-template>
                <ng-template pTemplate="content">
                    <form [formGroup]="form" (submit)="submit()">
                        <div class="field is-grouped">
                            <div class="control">
                                <label class="label">Country</label>
                                <p-autoComplete [suggestions]="filteredCountries" [forceSelection]="true"
                                    [dropdown]="true" field="name" (completeMethod)="filterCountries($event)"
                                    formControlName="country"></p-autoComplete>
                            </div>
                            <div class="control">
                                <label class="label">City</label>
                                <input type="text" pInputText formControlName="city" />
                            </div>
                            <div class="control">
                                <label class="label">Your Name</label>
                                <input type="text" pInputText formControlName="name" />
                            </div>
                            <div class="control">
                                <label class="label">Number of participants</label>
                                <p-inputNumber inputId="integeronly" [min]="1" [max]="100" [size]="10"
                                    formControlName="numberOfPeople"></p-inputNumber>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Activity</label>
                            <p-autoComplete [suggestions]="filteredSuggestions" [dropdown]="true"
                                [forceSelection]="true" (completeMethod)="filterSuggestions($event)"
                                formControlName="activity" [size]="100"></p-autoComplete>
                        </div>

                        <div class="field">
                            <div class="control">
                                <p-button type="submit" [loading]="loading" label="Submit"></p-button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </p-accordionTab>
        </p-accordion>

    </app-container>
</app-section>

<app-section *ngIf="pledges.length > 0">
    <app-container size="medium">
        <p class="title">
            {{totalPledges}} people have pledged a moment from {{totalCountries}} countries
        </p>
        <article class="card pledge" *ngFor="let pledge of pledges">
            <div class="card-content">
                <div class="columns">
                    <div class="column">{{pledge.name}} from {{pledge.city}}, {{pledge.country}}</div>
                    <div class="column">{{pledge.numberOfPeople}} {{pledge.numberOfPeople == 1 ? 'person' : 'people'}}
                    </div>
                    <div class="column">{{pledge.activity}}</div>
                </div>
            </div>
        </article>
    </app-container>
</app-section>