@import "../../../../../node_modules/bulma/bulma.sass";

.event {
    &+& {
        margin-top: 3rem;
    }
}

.hero-img-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.hero-img {
    border-radius: 50%;
    max-height: 25rem;
    border: .25rem solid #444;
}

@media(max-width: $tablet) {
    .field.is-grouped {
        flex-wrap: wrap;
    }
}