<section class="hero">
    <div class="hero-body">
        <figure class="hero-img-container">
            <img [src]="'assets/images/dress-up-hero.jpg'" class="hero-img" alt="Dress Up - Image">
        </figure>
        <div class="content">
            <p class="title has-text-centered">Dress Up &amp; Donate - life is better at the beach!</p>
            <p class="subtitle has-text-centered">Enjoy Freestyle Friday &amp; Beach Vibes all weekend</p>
        </div>
    </div>
</section>

<app-section>
    <app-container size="medium">
        <p class="content">
            The possibilities are endless to enjoy coming together & inspiring each other to <b>ride the waves of
                Aloha!</b>
        </p>
        <div class="content">
            <p>
                Spice it up to enjoy any other fun beach vibes that you can imagine!
            </p>
            <ul>
                <li>Spot prizes for best fancy dress - Hawaiian Island style, surf style, beach life!</li>
                <li>Tempt your taste buds with a “Beach party bake off” or cake sale</li>
                <li>Quench your thirst with lemonade stands or happy hour cocktails</li>
                <li>Get your boogie on with Hawaiian Hula dancing</li>
                <li>Limber up with limbo contests on the sand</li>
                <li>Meet up for Beach BBQs or Sundowners @Sunset</li>
            </ul>
        </div>

        <p class="content">
            <b>Register your club, school, college or group participation</b> and come together to have fun & <a
                routerLink="/donate">donate</a> to the
            Maui Community-led Disaster Relief efforts.
        </p>

        <p class="content">
            Come together with friends near & far as we all send our {{totalOrgEvents}} waves of aloha & support from
            each of our {{totalCountries}} countries
            to Maui Island, Hawaii.
        </p>

        <p-accordion>
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <p-button type="submit" label="Registration Form"></p-button>
                </ng-template>
                <ng-template pTemplate="content">
                    <form [formGroup]="form" (submit)="submit()">
                        <div class="field is-grouped">
                            <div class="control">
                                <label class="label">Country</label>
                                <p-autoComplete [suggestions]="filteredCountries" [forceSelection]="true"
                                    [dropdown]="true" field="name" (completeMethod)="filterCountries($event)"
                                    formControlName="country"></p-autoComplete>
                            </div>
                            <div class="control">
                                <label class="label">City</label>
                                <input type="text" pInputText formControlName="city" />
                            </div>
                            <div class="control">
                                <label class="label">Organization Type</label>
                                <p-dropdown [options]="orgTypes" formControlName="orgType"
                                    placeholder="Select"></p-dropdown>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <label class="label">Group Name</label>
                                <input type="text" pInputText formControlName="groupName" />
                            </div>
                            <div class="control">
                                <label class="label">Number of participants</label>
                                <p-inputNumber inputId="integeronly" [min]="1"
                                    formControlName="numberOfPeople"></p-inputNumber>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <p-button type="submit" [loading]="loading" label="Submit"></p-button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </p-accordionTab>
        </p-accordion>

    </app-container>
</app-section>

<app-section *ngIf="orgEvents.length > 0">
    <app-container size="medium">
        <article class="card event" *ngFor="let event of orgEvents">
            <div class="card-content">
                <div class="columns">
                    <div class="column">{{event.groupName}} from {{event.city}}, {{event.country}}</div>
                    <div class="column">{{event.orgType}}</div>
                    <div class="column">{{event.numberOfPeople}} {{event.numberOfPeople == 1 ? 'participant' :
                        'participants'}}
                    </div>
                </div>
            </div>
        </article>
    </app-container>
</app-section>