.navbar-item img {
    max-height: 4rem;
}

.navbar-start 
{
    flex-grow: 1;
    justify-content: center;
}

.has-shadow {
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
}

.logo {
    height: 76px;
    width: auto; //146px
}