<app-container size="medium">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                HelpHawaii.org
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar"
                [ngClass]="isMenuActive ? 'is-active' : ''" (click)="toggleMenu()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu" [ngClass]="isMenuActive ? 'is-active' : ''">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="/">Home</a>
                <a class="navbar-item" routerLink="/news-and-media">News & Media</a>
                <a class="navbar-item" routerLink="/events">Community Events</a>
                <a class="navbar-item" routerLink="/submit-event">Submit Event</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable" *ngIf="isAuthenticated; else signIn">
                    <a class="navbar-link">
                        <i class="fa-solid fa-user-astronaut"></i>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Account
                        </a>
                        <a class="navbar-item" routerLink="admin/manage-events">
                            Manage Events
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" (click)="signOut()">
                            Sign Out
                        </a>
                    </div>
                </div>
                <ng-template #signIn>
                    <a class="navbar-item" routerLink="/login">
                        Sign In
                    </a>
                </ng-template>
            </div>
        </div>
    </nav>
</app-container>