<section class="hero is-link">
    <div class="hero-body">
        <p class="title has-text-centered">News & Media</p>
    </div>
</section>


<!-- 
<app-section>
    <app-container size="medium">
        <div class="feed">
            <app-news-card
                imageUrl="https://cloudfront-us-east-2.images.arcpublishing.com/reuters/RPW63WHJHBNFVF3WXL6HEXS2TU.jpg"
                link="https://www.reuters.com/world/us/how-did-hawaii-wildfires-start-what-know-about-maui-big-island-blazes-2023-08-11/"
                description="Maui fires: What to know about Hawaii's deadliest disaster, damage and death toll">
            </app-news-card>

            <app-news-card imageUrl=""
                link="https://www.reuters.com/world/us/hope-is-tested-search-drags-people-missing-maui-fires-2023-08-21/"
                description="Hope is tested as search drags on for people missing in Maui fires">
            </app-news-card>

            <app-news-card imageUrl=""
                link="https://www.reuters.com/world/us/doctors-dentists-anthropologists-striving-identify-mauis-victims-2023-08-20/"
                description="The doctors, dentists and anthropologists striving to identify Maui's victims">
            </app-news-card>

            <app-news-card imageUrl="" link="https://www.reuters.com/graphics/HAWAII-WILDFIRES/DRIVERS/gdvzwwgwrpw/"
                description="How the Hawaii wildfires spread so quickly">
            </app-news-card>

            <app-news-card imageUrl=""
                link="https://www.reuters.com/world/us/maui-children-face-grief-destruction-schools-start-up-after-wildfire-2023-08-19/"
                description="Maui children face grief, destruction as schools start up after wildfire">
            </app-news-card>

            <app-news-card imageUrl=""
                link="https://www.reuters.com/world/us/biden-pledges-us-support-maui-through-wildfire-recovery-2023-08-17/"
                description="Maui's chief of emergency management resigns amid criticism">
            </app-news-card>
        </div>


    </app-container>
</app-section> -->