<section class="hero is-link">
    <div class="hero-body">
        <p class="title has-text-centered">News & Media</p>
    </div>
</section>

<app-section>
    <app-container>
        <p class="title is-size-3">On August 8th, 2023 wild
            fires decimated the Hawaiian Island of Maui burning an entire coastal community
            to the ground in minutes.</p>
        <p class="content">With <a href="https://www.reuters.com/graphics/HAWAII-WILDFIRES/DRIVERS/gdvzwwgwrpw/">100km
                winds</a>
            fuelled by Hurricane Dora 700 miles to the south of Hawaiian
            islands coupled with winds from a high pressure system to the North, the Maui
            fires spread rapidly &amp; uncontrollably.</p>
        <p class="content">The residents got little or no warning. With fires encroaching from all
            sides, the entire coastal community was decimated within minutes. Petrol
            stations exploded. Cars, homes, shops, and wooden plantation-era buildings
            quickly burned to ashes. The harbour and its boats were completely engulfed in
            smoke and flames. The water was on fire from all the fuel.</p>
        <p class="content"><a
                href="https://www.reuters.com/world/us/how-did-hawaii-wildfires-start-what-know-about-maui-big-island-blazes-2023-08-11/">Sirens</a>
            intended to warn of impending natural disasters never sounded. Widespread power
            &amp; cellular outages hampered other forms of alerting. No one saw it coming.
        </p>
        <p class="content">Retreating from the rapidly encroaching blaze surrounding them from all
            directions, and with no escape route possible, many residents tried escaping to
            the water. Many families and residents spent the night inhaling smoke &amp;
            fumes in the water waiting for someone to rescue them. Horrifically many did not
            make it back out alive.</p>
        <p class="content">It&rsquo;s a truly unimaginable situation with so many of the Lahaina
            community still lost among the wreckage &amp; debris.</p>
    </app-container>
</app-section>
<app-section>
    <app-container>
        <p class="title is-4"><a href="drone-footage-shows-destruction-from-maui-wildfires.html">Drone footage shows
                destruction from Maui wildfires | ABC News</a></p>

        <p class="subtitle is-6">Drone footage shows the vast destruction in the town of Lahaina after deadly wildfires
            ravaged parts of the
            Hawaiian island of Maui.</p>

        <div style="width:100%;height:492px;overflow:hidden;position:relative">
            <iframe style="position:absolute;top:0;left:0;width:100%;height:100%"
                src="https://www.youtube.com/embed/A_soqwxOgog?si=Xg9x22cMhpUGqsWM" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </app-container>
</app-section>
<app-section>
    <app-container>
        <p class="content">The Maui wildfires are the <a href="https://tmsnrt.rs/45tAXdZ">deadliest U.S.
                wildfire</a> in more
            than a century and with many still missing the Governor of Hawaii has warned
            that the death toll is likely to continue to rise.</p>
        <p class="content">The fires completely destroyed the city of Lahaina that had a population of
            about 13,000 and burned an area of about 3.4 sq. miles. In total it is estimated
            that the <a
                href="https://www.cbsnews.com/news/how-much-of-maui-has-burned-wildfires-aerial-images-acres-containment/#:~:text=The%20Pulehu%2DKihei%20fire%20was,area%20of%20735%20square%20miles.">fires
                destroyed an area</a> of approx.10 square miles across the island.</p>
        <p class="content">The causes of the fires remain undetermined. Climate change is believed by
            many scientists to be creating more extreme weather events. There had been
            warnings of an increasing risks of wildfires due to high winds and dry weather
            on the Hawaiian Islands.</p>
        <p class="content">Some scientists have suggested that the <a
                href="https://cms.ctahr.hawaii.edu/littonc/Research/Invasive-Grasses-Wildfire-Restoration">extensive
                spread of invasive species of highly flammable non-native grasses</a>
            created large areas of highly flammable material. The spread of these grasses in
            areas that had been previously forested or used for agriculture has dramatically
            increased the risk and severity of fires on the Hawaiian islands. </p>
        <p class="content">As an island community heavily reliant on tourism (which accounts for more
            than 40% of the economy), locals throughout the island are directly impacted
            while relief efforts continue and tourists are asked not to come during this
            time. Many residents are now finding themselves without work while community
            relief efforts focus on helping those directly impacted by the Maui fires.</p>
        <p class="content">Local fire fighters &amp; rescues teams were overwhelmed as they worked to
            fully contain the fires that were spreading rapidly in multiple locations across
            the island. Flare ups are still present one week on in local hot spots as
            firefighting crews continue their battle to contain them.</p>
        <p class="content">Large scale power outages have left much of the community without power and
            clean water which may take months to fully restore. With limited places to house
            people on island; many of those that survived the Maui fires are now in
            temporary accommodation or in the refuge shelters.</p>
        <p class="is-size-5 mb-4 has-text-weight-normal text-black"><br /><strong>This is
                the biggest event of its kind in the history of the Hawaiian islands. The
                devastation from the Maui fires is heart-breaking to comprehend:</strong>
        </p>
        <p class="content">Many friends &amp; families have lost their loved ones.</p>
        <p class="content">Over 115 people are dead and over 850 people are still missing.</p>
        <p class="content">Over 2200 buildings have been damaged or destroyed. The vast majority,
            some 86% of them, are residential homes.</p>
        <p class="content">Over 11,000 people have been displaced; tens of thousands of residents
            &amp; tourists have had to evacuate the island.</p>
        <p class="content"> 1000s of families have lost their homes, with little or no insurance they
            have literally nothing left.</p>
        <p class="content">4 Schools were destroyed or damaged the day before the local children were
            due to return to school.</p>
        <p class="content">Many businesses were completely destroyed including surf schools, tour boat
            companies, guest houses, independent stores, shops and local businesses. </p>
        <p class="content">As a result, countless jobs are now gone leaving many locals without means
            or livelihoods.</p>
        <p class="content"> Relief efforts that are very much reliant on outside support are being
            driven by local grass root community led non-profits and organisations.</p>
        <p class="content">The wider community on Maui is deeply feeling the strain as they rally
            together to support their Maui Ohana through the direct community led disaster
            relief efforts.</p>
    </app-container>
</app-section>
<app-section>
    <app-container>
        <div class="columns is-multiline">
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_9.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 26, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/world/us/biden-pledges-us-support-maui-through-wildfire-recovery-2023-08-17/"
                                target="_blank">Maui's chief of emergency management resigns amid criticism</a></h3>
                        <p class="mb-5">
                            The resignation takes place one day after Andaya made his first appearance in a press
                            conference, which came more than a week after the catastrophe destroyed or damaged 2,200
                            buildings and caused some $5.5 billion in damage. Hundreds of people remain unaccounted
                            for.
                        </p>

                        <a href="https://www.reuters.com/world/us/biden-pledges-us-support-maui-through-wildfire-recovery-2023-08-17/"
                            target="_blank" class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_2.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 22, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.cbsnews.com/news/how-much-of-maui-has-burned-wildfires-aerial-images-acres-containment/#:~:text=The%20Pulehu%2DKihei%20fire%20was,area%20of%20735%20square%20miles"
                                target="_blank">How much of Maui has burned in the wildfires? Aerial images show
                                fire damage as containment efforts continue | CBS News</a></h3>
                        <p class="mb-5">The wildfires in Maui have burned thousands of acres since the blaze began
                            earlier this month, and some of the fires were still partially contained as of Monday.
                            The Lahaina fire – the most devastating of the blazes – burned an estimated 2,170 acres,
                            the County of Maui said in a news release on Monday. That's about 3.4 square miles</p>

                        <a href="https://www.cbsnews.com/news/how-much-of-maui-has-burned-wildfires-aerial-images-acres-containment/#:~:text=The%20Pulehu%2DKihei%20fire%20was,area%20of%20735%20square%20miles"
                            class="btn btn-small btn-main is-rounded" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_4.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 22, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/world/us/maui-wildfire-victims-fear-land-grab-may-threaten-hawaiian-culture-2023-08-22/"
                                target="_blank">Maui wildfire victims fear land grab may threaten Hawaiian
                                culture</a></h3>
                        <p class="mb-5">Hawaii's Office of Consumer Protection warned of people making below-market
                            offers, playing on fears of foreclosure and the cost of rebuilding. The office declined
                            to comment on how many such offers had been reported.</p>

                        <a href="https://www.reuters.com/world/us/maui-wildfire-victims-fear-land-grab-may-threaten-hawaiian-culture-2023-08-22/"
                            target="_blank" class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_3.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 21, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/world/us/how-did-hawaii-wildfires-start-what-know-about-maui-big-island-blazes-2023-08-11/"
                                target="_blank">Maui fires: What to know about Hawaii's deadliest disaster, damage
                                and death toll</a></h3>
                        <p class="mb-5">Wildfires on Hawaii's Maui have killed at least 114 people, forced tens of
                            thousands of residents and tourists to evacuate the island and devastated the historic
                            resort city of Lahaina. It's the deadliest U.S. wildfire in more than a century.</p>

                        <a href="https://www.reuters.com/world/us/how-did-hawaii-wildfires-start-what-know-about-maui-big-island-blazes-2023-08-11/"
                            target="_blank" class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_7.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 21, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/graphics/HAWAII-WILDFIRES/DRIVERS/gdvzwwgwrpw/"
                                target="_blank">How the Hawaii wildfires spread so quickly</a></h3>
                        <p class="mb-5">
                            The wildfire that ripped through Lahaina on Aug. 8, reducing what had once been the
                            jewel of the historic Hawaiian kingdom to rubble, was decades in the making, scientists
                            say. Still, it would take a unique combination of the elements to produce America’s
                            deadliest wildfire in more than a century.
                        </p>

                        <a href="https://www.reuters.com/graphics/HAWAII-WILDFIRES/DRIVERS/gdvzwwgwrpw/" target="_blank"
                            class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_5.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 21, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/world/us/hope-is-tested-search-drags-people-missing-maui-fires-2023-08-21/"
                                target="_blank">Hope is tested as search drags on for people missing in Maui
                                fires</a></h3>
                        <p class="mb-5">
                            Hawaiian authorities have confirmed that the Aug. 8 fires killed at least 114 people on
                            the island, but only a few of those have been identified and hundreds more are still
                            unaccounted for as a search for human remains continues, leaving Maui stuck in a limbo
                            of uncertain grief almost two weeks later.
                        </p>

                        <a href="https://www.reuters.com/world/us/hope-is-tested-search-drags-people-missing-maui-fires-2023-08-21/"
                            target="_blank" class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_6.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 20, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/world/us/doctors-dentists-anthropologists-striving-identify-mauis-victims-2023-08-20/"
                                target="_blank">The doctors, dentists and anthropologists striving to identify
                                Maui's victims</a></h3>
                        <p class="mb-5">The number of victims is unknown, hundreds remain on lists of those missing,
                            and in some cases the inferno has consumed all but the barest remnants of the bodies.
                        </p>

                        <a href="https://www.reuters.com/world/us/doctors-dentists-anthropologists-striving-identify-mauis-victims-2023-08-20/"
                            target="_blank" class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column is-4-desktop is-6-tablet">
                <div class="blog-item-content mb-4">
                    <img src="assets/images/blog/blog_8.jpg" alt="" class="w-100">

                    <div class="blog-item-content-content mt-3">
                        <span class="text-sm text-color is-uppercase has-text-weight-bold">August 19, 2023</span>

                        <h3 class="mb-3"><a
                                href="https://www.reuters.com/world/us/maui-children-face-grief-destruction-schools-start-up-after-wildfire-2023-08-19/"
                                target="_blank">Maui children face grief, destruction as schools start up after
                                wildfire</a></h3>
                        <p class="mb-5">
                            Getting kids back in school poses numerous challenges: hundreds have already enrolled in
                            schools in areas outside the burn zone. Some will be too traumatized to come when their
                            schools in Lahaina reopen. Some parents will opt to move rather than rebuild.
                        </p>

                        <a href="https://www.reuters.com/world/us/maui-children-face-grief-destruction-schools-start-up-after-wildfire-2023-08-19/"
                            target="_blank" class="btn btn-small btn-main is-rounded">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </app-container>
</app-section>