<footer class="footer">
    <app-container size="tiny">
        <div class="content has-text-centered">
            <div class="columns">
                <div class="column">&copy; 2023 HelpHawaii.org
                </div>
                <div class="column">                    
                    <a [href]="contacts.instagram" target="_blank" class="mr-5">
                        <span class="icon">
                            <i class="fab fa-instagram fa-2xl"></i>
                        </span>
                    </a>

                    <a [href]="contacts.facebook" target="_blank" class="mr-5">
                        <span class="icon">
                            <i class="fab fa-facebook-square fa-2xl"></i>
                        </span>
                    </a>

                    <a [href]="'mailto:$' + contacts.email" target="_blank">
                        <span class="icon">
                            <i class="fa-solid fa-envelope fa-2xl"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="level">
                <div class="level-item">Photos by&nbsp;<a target="_blank"
                        href="https://www.phelpsfilms.com/">Davin Phelps</a>&nbsp;|&nbsp;
                    Illustrations by&nbsp;<a href="https://storyset.com/">Storyset</a>
                </div>
            </div>
        </div>
    </app-container>
</footer>