<form [formGroup]="eventForm" (submit)="onSubmit()">
    <app-section>
        <h2 class="title">Event Info</h2>
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" formControlName="title" [ngClass]="displayError('title')">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <st-editor formControlName="description" [config]="{ buttons: editorButtons }">
                </st-editor>
            </div>
        </div>
        <div class="field">
            <label class="label">Event category</label>
            <div class="select">
                <select formControlName="category">
                    <option value="">Select category</option>
                </select>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox">
                Family friendly
            </label>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox">
                Dog friendly <i class="fa-solid fa-dog"></i>
            </label>
        </div>
        <div class="field">
            <label class="label">Recommended donation</label>
            <div class="control has-icons-left">
                <input class="input" type="number" formControlName="price">
                <span class="icon is-small is-left">
                    <i class="fas fa-coins"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Cover photo</label>
            <div class="control">
                <input class="input" type="file" formControlName="photoUrl">
            </div>
        </div>
    </app-section>
    <app-section>
        <h2 class="title">Date and Time</h2>
        <div class="field">
            <label class="label">Event starts</label>
            <div class="control">
                <input class="input" type="datetime-local" formControlName="startsAt">
            </div>
        </div>
        <div class="field">
            <label class="label">Event ends</label>
            <div class="control">
                <input class="input" type="datetime-local" formControlName="endsAt">
            </div>
        </div>
    </app-section>
    <app-section>
        <h2 class="title">Location</h2>

        <div class="field">
            <div class="control">
                <label class="radio">
                    <input type="radio" formControlName="type" name="type" value="offline" />
                    Offline
                </label>
                <label class="radio">
                    <input type="radio" formControlName="type" name="type" value="online" />
                    Online
                </label>
            </div>
        </div>

        <div class="field" *ngIf="eventType == 'online'">
            <label class="label">Online Event Details</label>
            <div class="control has-icons-left">
                <textarea class="textarea" formControlName="onlineDetails"></textarea>
            </div>
        </div>

        <div class="field" *ngIf="eventType != 'online'">
            <label class="label">Address</label>
            <div class="control has-icons-left">
                <app-address-autocomplete formControlName="place"></app-address-autocomplete>
                <span class="icon is-small is-left">
                    <i class="fas fa-location-dot"></i>
                </span>
            </div>
        </div>
    </app-section>
    <app-section>
        <h2 class="title">Contacts & Social</h2>
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input class="input" type="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-at"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Phone Number (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Website (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Instagram (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-brands fa-instagram"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Facebook (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-brands fa-facebook"></i>
                </span>
            </div>
        </div>
    </app-section>
    <app-section>
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link">Submit Community Event</button>
            </div>
        </div>
    </app-section>
</form>