<form [formGroup]="eventForm" (submit)="onSubmit()">
    <app-section>
        <h2 class="title">Event Info</h2>
        <div class="field">
            <label class="label">Title</label>
            <app-validation-errors [control]="eventForm.get('title')"></app-validation-errors>
            <div class="control">
                <input class="input" type="text" formControlName="title">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <app-validation-errors [control]="eventForm.get('description')"></app-validation-errors>
            <div class="control">
                <st-editor formControlName="description" [config]="{ buttons: editorButtons }">
                </st-editor>
            </div>
        </div>
        <!-- <div class="field">
            <label class="label">Event category</label>
            <div class="select">
                <select formControlName="category">
                    <option value="">Select category</option>
                </select>
            </div>
        </div> -->
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" formControlName="familyFriendly">
                Family friendly
            </label>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" formControlName="dogFriendly">
                Dog friendly <i class="fa-solid fa-dog"></i>
            </label>
        </div>

        <label class="label">Recommended donation</label>
        <app-validation-errors [control]="eventForm.get('currency')"></app-validation-errors>
        <app-validation-errors [control]="eventForm.get('price')"></app-validation-errors>
        <div class="field has-addons">            
            <p class="control">
                <span class="select">
                  <select formControlName="currency">
                    <option value="EUR">€</option>
                    <option value="USD">$</option>
                    <option value="GBP">£</option>                    
                  </select>
                </span>
              </p>
            <div class="control">
                <input class="input" type="number" formControlName="price">
            </div>
        </div>
        <div class="field">
            <label class="label">Cover photo</label>
            <div class="control">
                <input class="input" type="file" #filePicker (change)="imagePicked($event)">
            </div>
        </div>
    </app-section>
    <app-section>
        <h2 class="title">Date and Time</h2>
        <div class="field">
            <label class="label">Event starts</label>
            <app-validation-errors [control]="eventForm.get('startsAt')"></app-validation-errors>
            <div class="control">
                <input class="input" type="datetime-local" formControlName="startsAt">
            </div>
        </div>
        <div class="field">
            <label class="label">Event ends</label>
            <app-validation-errors [control]="eventForm.get('endsAt')"></app-validation-errors>
            <div class="control">
                <input class="input" type="datetime-local" formControlName="endsAt">
            </div>
        </div>
    </app-section>
    <app-section>
        <h2 class="title">Location</h2>
        <div class="field">
            <div class="control">
                <label class="radio">
                    <input type="radio" formControlName="type" name="type" value="offline" />
                    Offline
                </label>
                <label class="radio">
                    <input type="radio" formControlName="type" name="type" value="online" />
                    Online
                </label>
            </div>
        </div>

        <div class="field" *ngIf="eventType == 'online'">
            <label class="label">Online Event Details</label>
            <app-validation-errors [control]="eventForm.get('onlineDetails')"></app-validation-errors>
            <div class="control has-icons-left">
                <textarea class="textarea" formControlName="onlineDetails"></textarea>
            </div>
        </div>

        <div class="field" *ngIf="eventType != 'online'">
            <label class="label">Address</label>
            <app-validation-errors [control]="eventForm.get('place')"></app-validation-errors>
            <div class="control has-icons-left">
                <app-address-autocomplete formControlName="place"></app-address-autocomplete>
                <span class="icon is-small is-left">
                    <i class="fas fa-location-dot"></i>
                </span>
            </div>
        </div>
    </app-section>
    <app-section>
        <h2 class="title">Contacts & Social</h2>
        <div class="field">
            <label class="label">Email</label>
            <app-validation-errors [control]="eventForm.get('contactEmail')"></app-validation-errors>
            <div class="control has-icons-left">
                <input class="input" type="email" formControlName="contactEmail">
                <span class="icon is-small is-left">
                    <i class="fas fa-at"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Phone Number (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text" formControlName="contactPhone">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Website (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text" formControlName="website">
                <span class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Instagram (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text" formControlName="instagram">
                <span class="icon is-small is-left">
                    <i class="fas fa-brands fa-instagram"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Facebook (optional)</label>
            <div class="control has-icons-left">
                <input class="input" type="text" formControlName="facebook">
                <span class="icon is-small is-left">
                    <i class="fas fa-brands fa-facebook"></i>
                </span>
            </div>
        </div>
    </app-section>
    <app-section>
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link" [disabled]="!this.eventForm.valid">Submit Community Event</button>
            </div>
        </div>
    </app-section>
</form>