<section class="hero is-large has-bg-image ">
    <div class="home-banner has-backdrop has-text-centered has-text-white has-text-shadow">
        <div class="home-banner__top">
            <p class="home-banner__title home-banner__title--is-1">HELPHAWAII.ORG</p>
            <p class="home-banner__subtitle home-banner__subtitle--is-1">
                Invites you to join our
            </p>
        </div>
        <div class="home-banner__middle">
            <p class="home-banner__title home-banner__title--is-1">
                MAUI 8.08
            </p>
            <p class="home-banner__title home-banner__title--is-1">
                Global Surf & Wellness Community Weekend Fundraiser
            </p>
            <p class="home-banner__subtitle home-banner__subtitle--is-1">
                Friday 8th to Sunday 10th September 2023
            </p>
        </div>
        <div class="home-banner__bottom">
            <p class="home-banner__subtitle home-banner__subtitle--is-1">
                in direct aid of the
            </p>
            <p class="home-banner__title home-banner__title--is-1">
                Maui Island Community-led Disaster Relief Efforts
            </p>
        </div>

        <!-- <p class="title is-1 has-text-centered has-text-white is-uppercase">HelpHawaii.org</p>
        <p class="subtitle is-2 has-text-centered has-text-white">
            Global Surf Community Weekend Fundraiser
        </p>
        <div class="content is-large">
            <p class="has-text-centered has-text-white">
                Friday 8th to Sunday 10th September 2023<br>
                <span class="is-size-5">For</span><br>
                <b>Maui Island Community Disaster Relief Efforts</b>
            </p>
        </div> -->
    </div>
</section>
<app-section>
    <app-container>
        <div class="columns is-vcentered">
            <div class="column is-one-third">
                <p class="title">
                    Help Hawaii
                </p>
                <p class="content is-large">
                    Local communities all over the world are coming together to send a wave of support to our Maui
                    Island
                    friends, family (Ohana) & community that has been absolutely devastated by the wildfires that tore
                    through the island of Maui on 08 August 2023.
                </p>

            </div>
            <div class="column is-two-thirds">
                <gallery [items]="images" [thumb]="false" [counter]="false" [playerInterval]="7000" [autoPlay]="true">
                </gallery>
                <p class="content">Photos by <a target="_blank" href="https://www.phelpsfilms.com/">Davin Phelps</a></p>
            </div>
        </div>
    </app-container>
</app-section>
<app-section>
    <app-container>
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image">
                    <img src="assets/images/flyer_home.png" alt="Event flyer">
                </figure>
            </div>
            <div class="column">
                <p class="content is-medium">
                    We welcome you to join us over 3 days, from Friday 8th to Sunday 10th September 2023. During this
                    event packed weekend, Surf & Wellness communities all over the world are coming together to support
                    those
                    Hawaiian island families & communities directly impacted by the Maui fires
                </p>
                <p class="content is-medium">
                    All funds raised will go directly to those impacted to help them rebuild their homes, their
                    businesses, their jobs, their livelihoods, and their communities in partnership with local Maui
                    organisations
                    and relief efforts.
                </p>
            </div>
        </div>
    </app-container>
</app-section>
<app-section>
    <app-container size="medium">
        <p class="content is-medium">
            With your help & support, what started as a few community led fundraising events among surf communities in
            Ireland and Portugal, will spread far & wide through surf communities, coastal villages & towns, local
            businesses, individuals, families and friends all over the world.
        </p>
        <p class="content is-medium">
            Let us come together in solidarity & aloha with our Hawaiian brothers & sisters, and all those affected by
            these devastating fires on Maui. Let us share the spirit of Aloha with each other & our Maui Ohana &
            Community to help them heal and recover from this most difficult of times.
        </p>
        <p class="content is-medium">
            The Hawaiians brought the spirit of Aloha & surfing to the world.
            Now let us all come together to send a wave of love, support & aloha from local communities everywhere
            to the Hawaiian islands that are so dear to so many of us.
        </p>
        <p class="content is-medium">
            Mahalo Nui<br>
            With Aloha<br>
            Friends & family of Hawaii
        </p>
    </app-container>
</app-section>