<section class="hero is-info ">
    <div class="hero-body">
        <p class="title has-text-centered">Submit Community Event</p>
    </div>
</section>

<app-section>
    <app-container>
        <div class="columns is-variable is-8-desktop">
            <div class="column">
                <p class="title">
                    Community Event Ideas
                </p>
                <p-carousel [value]="ideas" [numVisible]="1" [circular]="true" autoPlayInterval="2000">
                    <ng-template let-item pTemplate="item">
                        <figure class="image is-small">
                            <img [src]="item.image" [alt]="item.title">
                        </figure>
                        <p class="title is-5 has-text-centered has-text-weight-light is-uppercase">{{item.title}}</p>
                        <ul>
                            <li *ngFor="let line of item.lines">{{line}}</li>
                        </ul>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="column">
                <p class="title">How to get started</p>
                <ul class="get-started__list">
                    <li>Register your community fundraising event by clicking on the Get Started link below</li>
                    <li>Download & add details for your community event to the <a download="Maui_8.08_Flyer.jpeg"
                            href="assets/images/Maui_8.08_Flyer.jpeg">event flyer <i class="fa-solid fa-download"></i></a></li>
                    <li>Promote your event on your social media</li>
                    <li>Link your community event at <a target="_blank" [href]="contacts.instagram">Instagram</a> and
                        <a target="_blank" [href]="contacts.facebook">Facebook</a>.
                    </li>
                    <li>Post images from your events on social media</li>
                    <li>Donate the proceeds of your event directly our <a routerLink="/donate">donations page</a></li>
                </ul>
            </div>
        </div>
    </app-container>
</app-section>

<app-section>
    <app-container size="narrow">
        <div class="level">
            <div class="level-item" *ngIf="!isLoggedIn">
                <a class="button is-link is-medium" routerLink="/sign-up"
                    [queryParams]="{ redirect: '/events/create' }">Create account to get started</a>
            </div>
            <div class="level-item" *ngIf="isLoggedIn">
                <a class="button is-link is-medium" routerLink="/events/create">Get Started</a>
            </div>
        </div>
    </app-container>
</app-section>