<div class="box">
    <label class="label is-medium">Change event status</label>
    <div class="field is-grouped">
        <p class="control" *ngIf="!isApproved">
            <p-button label="Approve" styleClass="p-button-success" [loading]="loading && approving"
                [disabled]="loading" (click)="onApprove()"></p-button>
        </p>
        <p class="control" *ngIf="!isPending">
            <p-button label="Pending" styleClass="p-button-warning" [loading]="loading && pending" [disabled]="loading"
                (click)="onPending()"></p-button>
        </p>
        <p class="control" *ngIf="!isRejected">
            <p-button label="Reject" styleClass="p-button-danger" [loading]="loading && rejecting" [disabled]="loading"
                (click)="onReject()"></p-button>
        </p>
    </div>
</div>