<div class="box">
    <label class="label is-medium">Change event status</label>
    <div class="field is-grouped">
        <p class="control" *ngIf="!isApproved">
            <button class="button is-primary" (click)="approve()">Approve</button>
        </p>
        <p class="control" *ngIf="!isPending">
            <button class="button is-warning" (click)="pending()">Pending</button>
        </p>
        <p class="control" *ngIf="!isRejected">
            <button class="button is-danger" (click)="reject()">Reject</button>
        </p>
    </div>
</div>