<app-section>
    <app-container>
        <p class="title">Manage Events</p>
    </app-container>
</app-section>
<app-section size="none">
    <app-container>
        <div class="columns">
            <div class="column is-one-fifth">
                <form [formGroup]="filterForm" (submit)="search()">
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" formControlName="includeApproved">
                            Include Approved
                        </label>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" formControlName="includeApproved">
                            Include Rejected
                        </label>
                    </div>
                    <div class="field">
                        <button class="button is-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="column"><app-event-list [showStatus]="true" [events]="(events$ | async) ?? []" [link]="['/admin/manage-events']"></app-event-list>
            </div>
        </div>
    </app-container>
</app-section>