@import "styles/reset.scss";
@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/ngx-toastr/toastr';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "styles/typography.scss";

html, body {
    height: 100%;
}


.is-wide {
    padding-left: 2.25rem;
    padding-right: 2.5rem;
}

.has-backdrop {
    backdrop-filter: blur(5px);
}

.description-content {
    white-space: pre-wrap;
}

.map-marker {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;

    color: hsl(204, 71%, 39%);

    font-size: 2rem;

    
}

.map-marker--selected {
    color: hsl(204, 86%, 53%);
    font-size: 2.5rem;
}

@media(max-width: $tablet) {
    .columns.is-reversed-mobile {
        flex-direction: column-reverse;
        display: flex;
    }
}

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";