@import "styles/reset.scss";
@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/ngx-toastr/toastr';


@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans&display=swap');

$family-serif: "Open Sans", serif;
$family-primary: $family-serif;

.title {
    font-family: 'Bitter', $family-primary
}

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";